input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input:invalid, input:required, select:invalid, select:required, textarea:invalid, textarea:required {
  box-shadow: none !important;
}

p, strong, span, small, a, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /*-webkit-user-select:    none;
  -moz-user-select:       none;
  user-select:            none;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /*
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  box-sizing:         border-box;
  */
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;
  -ms-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  list-style: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label,
select {
  cursor: pointer;
}

input, select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  appearance: none !important;
  border-radius: 0px;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button,
input[type=text],
input[type=password],
select,
textarea {
  vertical-align: baseline;
  *vertical-align: middle;
  box-sizing: border-box;
}

button, input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled],
input[disabled],
body {
  cursor: default;
  font-weight: normal;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="email"] {
  text-transform: lowercase;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td {
  vertical-align: middle;
}

::-moz-selection {
  background: #005598;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #005598;
  color: #fff;
  text-shadow: none;
}

::-webkit-selection {
  background: #005598;
  color: #fff;
  text-shadow: none;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

.alert {
  font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: solid 1px #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin: 0 auto 18px auto;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.alert .close {
  line-height: 18px;
  position: relative;
  right: -21px;
  top: -2px;
  color: #000000;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  opacity: 0.2;
  text-shadow: 0 1px 0 #FFFFFF;
  cursor: pointer;
}

html, body {
  overflow-x: hidden !important;
}

.overflowHidden {
  overflow: hidden !important;
}

@media all and (min-width: 998px) {
  .desktop {
    display: block !important;
  }
  .mobile {
    display: none !important;
  }
}

@media all and (max-width: 997px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}

@font-face {
  font-family: 'robotoblack';
  src: url("fonts/roboto-black-webfont.woff2") format("woff2"), url("fonts/roboto-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold_condensed';
  src: url("fonts/roboto-boldcondensed-webfont.woff2") format("woff2"), url("fonts/roboto-boldcondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotocondensed';
  src: url("fonts/roboto-condensed-webfont.woff2") format("woff2"), url("fonts/roboto-condensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url("fonts/roboto-italic-webfont.woff2") format("woff2"), url("fonts/roboto-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url("fonts/roboto-light-webfont.woff2") format("woff2"), url("fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url("fonts/roboto-medium-webfont.woff2") format("woff2"), url("fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("fonts/roboto-regular-webfont.woff2") format("woff2"), url("fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("fonts/roboto-thin-webfont.woff2") format("woff2"), url("fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media all and (max-width: 997px) {
  html, body {
    -webkit-overflow-scrolling: touch;
  }
}

main {
  overflow: hidden;
}

main, .wrapper, .transparent-img {
  width: 100%;
  display: block;
}

header {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -250px;
  text-align: center;
}

header h1 {
  font-family: robotolight, Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
