<!doctype html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>test electron</title>
		<link rel="stylesheet" href="../dist/css/style.css">
	</head>
	<body ng-controller="taskController">
		<main>
			<aside class="horizontal-bar">
				<button class="open-folders">
					<img src="../dist/img/icon-hamburguer.svg" alt="Open folders" />
				</button>

				<button class="open-settings">
					<img src="../dist/img/icon-settings.svg" alt="Settings" />
				</button>
			</aside>

			<aside class="folders"></aside>

			<section class="list-container">
				<ul>
					<li>
						<p>//teste//</p>
					</li>
					<li>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
					</li>
					<li>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
					</li>
				</ul>
			</section>
		</main>
	</body>

	<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

	<script src='../dist/js/compressed.js'></script>
	<script src='../dist/js/scripts.js'></script>

	<script> if (window.module) module = window.module; </script>
</html>
